# 忽略 Visual Studio 临时文件
.vs/
.vscode/

# 忽略敏感配置文件
.env

# 忽略 Python 虚拟环境
venv/
__pycache__/
*.pyc

# 忽略编译输出目录
x64/
Debug/
Release/
*/x64/
*/Debug/
*/Release/

# 忽略具体生成的临时文件类型
*.obj
*.pdb
*.idb
*.tlog
*.log
*.ipch
*.aps
*.user
*.suo
*.opensdf
*.sdf
*.cache
*.ilk